# .github/workflows/terraform.yaml
name: "Terraform Infrastructure"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: "Terraform Apply"   
    # IMPORTANT: This targets your specific Debian machine
    runs-on: [self-hosted, linux, debian]
    
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan        
        env:
          TF_VAR_ssh_password: ${{ secrets.SERVER_PASSWORD }}
        run: terraform plan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'        
        env:
          TF_VAR_ssh_password: ${{ secrets.SERVER_PASSWORD }}
        run: terraform apply -auto-approve
      - name: Deploy Kubernetes Manifests
        run: |
          kubectl apply -f ../k3s/